
## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">Osman Öztürk</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# PART- 2 `( Handling With Missing Values )`

In [419]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats.mstats import winsorize

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10, 6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 150

In [420]:
df = pd.read_csv("clean_scout.csv")

In [421]:
df.shape

(15919, 32)

In [422]:
df.head(3).T

,0,1,2
make_model,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.000,80000.000,83450.000
Type,Used,Used,Used
Warranty,NaN,NaN,NaN
Cylinders,3.000,4.000,NaN
Fuel,Diesel,Benzine,Diesel
Gears,NaN,7.000,NaN
Comfort_Convenience,"Air conditioning, Armrest, Automatic climate c...","Air conditioning, Automatic climate control, H...","Air conditioning, Cruise control, Electrical s..."
Entertainment_Media,"Bluetooth, Hands-free equipment, On-board comp...","Bluetooth, Hands-free equipment, On-board comp...","MP3, On-board computer"
Extras,"Alloy wheels, Catalytic Converter, Voice Control","Alloy wheels, Sport seats, Sport suspension, V...","Alloy wheels, Voice Control"
Safety_Security,"ABS, Central door lock, Daytime running lights...","ABS, Central door lock, Central door lock with...","ABS, Central door lock, Daytime running lights..."
age,3.000,2.000,3.000
Previous_Owners,2.000,NaN,1.000
hp_kW,66.000,141.000,85.000
Inspection_new,Yes,NaN,NaN
Paint_Type,Metallic,NaN,Metallic
Upholstery_type,Cloth,Cloth,Cloth
Upholstery_color,Black,Grey,Black
Nr_of_Doors,5.000,3.000,4.000
Nr_of_Seats,5.000,4.000,4.000
Gearing_Type,Automatic,Automatic,Automatic
Displacement_cc,1422.000,1798.000,1598.000
Weight_kg,1220.000,1255.000,NaN
Drive_chain,front,front,front
cons_comb,3.800,5.600,3.800
cons_city,4.300,7.100,4.400
cons_country,3.500,4.700,3.400
CO2_Emission,99.000,129.000,99.000
Emission_Class,Euro 6,Euro 6,Euro 6

In [423]:
df.tail(3).T

,15916,15917,15918
make_model,Renault Espace,Renault Espace,Renault Espace
body_type,Van,Van,Van
price,39875,39700,40999
vat,VAT deductible,VAT deductible,VAT deductible
km,15.000,10.000,NaN
Type,Pre-registered,Pre-registered,Demonstration
Warranty,NaN,NaN,NaN
Cylinders,4.000,4.000,4.000
Fuel,Diesel,Diesel,Benzine
Gears,6.000,6.000,NaN
Comfort_Convenience,"Air conditioning, Armrest, Automatic climate c...","Air conditioning, Automatic climate control, C...","Air conditioning, Automatic climate control, C..."
Entertainment_Media,"Bluetooth, Hands-free equipment, On-board comp...","Bluetooth, Digital radio, Radio, USB",USB
Extras,Alloy wheels,"Alloy wheels, Touch screen","Alloy wheels, Touch screen"
Safety_Security,"ABS, Adaptive Cruise Control, Blind spot monit...","ABS, Blind spot monitor, Driver-side airbag, E...","ABS, Blind spot monitor, Daytime running light..."
age,0.000,0.000,0.000
Previous_Owners,1.000,NaN,1.000
hp_kW,146.000,147.000,165.000
Inspection_new,Yes,NaN,Yes
Paint_Type,NaN,NaN,Metallic
Upholstery_type,Full leather,Part leather,Full leather
Upholstery_color,Black,NaN,Brown
Nr_of_Doors,5.000,5.000,5.000
Nr_of_Seats,7.000,7.000,5.000
Gearing_Type,Automatic,Automatic,Automatic
Displacement_cc,1997.000,1997.000,1798.000
Weight_kg,NaN,1758.000,1685.000
Drive_chain,front,front,4WD
cons_comb,5.300,5.300,6.800
cons_city,6.200,6.200,8.700
cons_country,4.700,4.700,5.700
CO2_Emission,139.000,139.000,153.000
Emission_Class,Euro 6,Euro 6,Euro 6

In [424]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   Type                 15917 non-null  object
 6   Warranty             4853 non-null   float64
 7   Cylinders            10239 non-null  float64
 8   Fuel                 15919 non-null  object
 9   Gears                11207 non-null  float64
 10  Comfort_Convenience  14999 non-null  object
 11  Entertainment_Media  14545 non-null  object
 12  Extras               12957 non-null  object
 13  Safety_Security      14937 non-null  object
 14  age                  14322 non-null  float64
 15  Previous_Owners      9279 non-null   float64
 16  hp_kW                15831 non-null  float64
 17  Inspection_new       3932 non-null   object
 18  Paint_Type           10147 non-null  object
 19  Upholstery_type      11048 non-null  object
 20  Upholstery_color     10841 non-null  object
 21  Nr_of_Doors          15707 non-null  float64
 22  Nr_of_Seats          14942 non-null  float64
 23  Gearing_Type         15919 non-null  object
 24  Displacement_cc      15423 non-null  float64
 25  Weight_kg            8945 non-null   float64
 26  Drive_chain          9061 non-null   object
 27  cons_comb            13886 non-null  float64
 28  cons_city            13483 non-null  float64
 29  cons_country         13543 non-null  float64
 30  CO2_Emission         13483 non-null  float64
 31  Emission_Class       12291 non-null  object
dtypes: float64(15), int64(1), object(16)
memory usage: 3.9+ MB

In [425]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000
km,14895.000,34130.128,37352.978,0.000,5153.000,22740.000,49371.500,317000.000
Warranty,4853.000,21.927,15.771,1.000,12.000,12.000,24.000,72.000
Cylinders,10239.000,3.797,0.415,1.000,4.000,4.000,4.000,8.000
Gears,11207.000,5.925,0.848,1.000,5.000,6.000,6.000,50.000
age,14322.000,1.542,1.077,0.000,1.000,1.000,3.000,3.000
Previous_Owners,9279.000,1.068,0.330,0.000,1.000,1.000,1.000,4.000
hp_kW,15831.000,88.368,26.835,1.000,66.000,85.000,101.000,294.000
Nr_of_Doors,15707.000,4.656,0.645,1.000,4.000,5.000,5.000,7.000
Nr_of_Seats,14942.000,4.950,0.490,2.000,5.000,5.000,5.000,7.000
Displacement_cc,15423.000,1423.541,333.531,1.000,1229.000,1461.000,1598.000,16000.000
Weight_kg,8945.000,1351.107,220.662,1.000,1165.000,1288.000,1487.000,2471.000
cons_comb,13886.000,4.896,1.635,0.000,4.100,4.800,5.500,55.000
cons_city,13483.000,5.948,1.967,0.000,4.700,5.800,7.000,66.000
cons_country,13543.000,4.238,1.194,0.000,3.700,4.200,4.600,44.000
CO2_Emission,13483.000,123.740,269.952,0.000,104.000,116.000,129.000,14457.000

In [426]:
df.describe(include=[object]).T

,count,unique,top,freq
make_model,15919,9,Audi A3,3097
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
Type,15917,5,Used,11096
Fuel,15919,4,Benzine,8551
Comfort_Convenience,14999,6198,"Air conditioning, Electrical side mirrors, Hil...",216
Entertainment_Media,14545,346,"Bluetooth, Hands-free equipment, On-board comp...",1282
Extras,12957,659,Alloy wheels,3245
Safety_Security,14937,4443,"ABS, Central door lock, Daytime running lights...",538
Inspection_new,3932,1,Yes,3932
Paint_Type,10147,3,Metallic,9794
Upholstery_type,11048,5,Cloth,8423
Upholstery_color,10841,10,Black,8201
Gearing_Type,15919,3,Manual,8153
Drive_chain,9061,3,front,8886
Emission_Class,12291,3,Euro 6,12173

In [427]:
isnull = pd.DataFrame(df.isnull().sum(), columns = ['isnull'])
percentage_null = pd.DataFrame(df.isnull().sum()/df.shape[0]*100, columns = ['percentage_null'])

summary_null = pd.concat([isnull, percentage_null], axis = 1).reset_index().rename({'index':'Columns'},axis = 1)
summary_null

                Columns  isnull  percentage_null
0            make_model       0            0.000
1             body_type      60            0.377
2                 price       0            0.000
3                   vat    4513           28.350
4                    km    1024            6.433
5                  Type       2            0.013
6              Warranty   11066           69.514
7             Cylinders    5680           35.681
8                  Fuel       0            0.000
9                 Gears    4712           29.600
10  Comfort_Convenience     920            5.779
11  Entertainment_Media    1374            8.631
12               Extras    2962           18.607
13      Safety_Security     982            6.169
14                  age    1597           10.032
15      Previous_Owners    6640           41.711
16                hp_kW      88            0.553
17       Inspection_new   11987           75.300
18           Paint_Type    5772           36.259
19      Upholstery_type    4871           30.599
20     Upholstery_color    5078           31.899
21          Nr_of_Doors     212            1.332
22          Nr_of_Seats     977            6.137
23         Gearing_Type       0            0.000
24      Displacement_cc     496            3.116
25            Weight_kg    6974           43.809
26          Drive_chain    6858           43.081
27            cons_comb    2033           12.771
28            cons_city    2436           15.302
29         cons_country    2376           14.926
30         CO2_Emission    2436           15.302
31       Emission_Class    3628           22.790

In [428]:
miss_val = []

[miss_val.append(column) for column in df.columns if any(df[column].isnull())]

print("Columns that have missing values :")

miss_val

Columns that have missing values :

['body_type',
 'vat',
 'km',
 'Type',
 'Warranty',
 'Cylinders',
 'Gears',
 'Comfort_Convenience',
 'Entertainment_Media',
 'Extras',
 'Safety_Security',
 'age',
 'Previous_Owners',
 'hp_kW',
 'Inspection_new',
 'Paint_Type',
 'Upholstery_type',
 'Upholstery_color',
 'Nr_of_Doors',
 'Nr_of_Seats',
 'Displacement_cc',
 'Weight_kg',
 'Drive_chain',
 'cons_comb',
 'cons_city',
 'cons_country',
 'CO2_Emission',
 'Emission_Class']

In [429]:
# function for first looking to the columns

def first_looking(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print("--------------------------------")
    print(df[col].value_counts(dropna = False))

## functions to fill the missing values

In [430]:
def fill_most_freq(df, group_col, col_name):
    
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [431]:
def fill_prop(df, group_col, col_name):
    
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [432]:
def fill(df, group_col1, group_col2, col_name, method): # method can be either "mode" or "mean" or "median" or "ffill"
    
    '''Fills the missing values with "mode/mean/median/ffill/bfill method" according to double-stage grouping'''
    
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])

    elif method == "mean":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df[col_name].mean(), inplace = True)
        
    elif method == "median":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df[col_name].median(), inplace = True)
        
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

# The Examination of Missing Values in the Columns

## age

In [433]:
first_looking("age")

column name    :  age
--------------------------------
per_of_nulls   :  % 10.03
num_of_nulls   :  1597
num_of_uniques :  4
--------------------------------
1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64

In [434]:
df['age'].fillna('-', inplace=True)

**``describe()``** does **NOT** return anything for "NaN" values. If you have **``"Nan"``** at the column you are interested in, you should replace these "nan" values with something else. In our case, we have replaced the **``"NaN"``** values with **``"-"``** so that we could implement the "describe" method.

In [435]:
df["age"].value_counts(dropna=False)

1.0    4522
3.0    3674
2.0    3273
0.0    2853
-      1597
Name: age, dtype: int64

In [436]:
df.groupby("age").km.describe()

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
0.0,2706.000,2085.355,5365.881,1.000,10.000,50.000,3000.000,127022.000
1.0,4484.000,18035.239,11052.524,1.000,9990.000,17872.000,25078.500,136000.000
2.0,3272.000,41754.941,28295.748,1.000,21541.750,34752.000,54805.500,317000.000
3.0,3674.000,77442.521,39170.143,10.000,48000.000,72914.500,99950.000,291800.000
-,759.000,934.497,7416.244,0.000,5.000,10.000,10.000,89982.000

In [437]:
df[df["age"] == "-"]["km"].value_counts(dropna=False)

NaN          838
10.000       369
1.000        146
5.000         58
20.000        32
15.000        21
0.000         19
11.000        12
8.000         11
50.000        10
12.000         8
100.000        8
7.000          7
3.000          4
9.000          4
4.000          3
250.000        3
25.000         3
30.000         3
3000.000       2
39962.000      2
2.000          2
22627.000      2
784.000        1
89692.000      1
3500.000       1
325.000        1
497.000        1
99.000         1
77.000         1
40.000         1
19500.000      1
6100.000       1
11000.000      1
89982.000      1
4307.000       1
141.000        1
34164.000      1
500.000        1
150.000        1
11200.000      1
20768.000      1
32084.000      1
142.000        1
81800.000      1
281.000        1
6.000          1
68485.000      1
85000.000      1
196.000        1
4500.000       1
60.000         1
5000.000       1
Name: km, dtype: int64

In [438]:
cond0 = (df['km'] < 10000)
cond1 = ((df['km'] >= 10000) & (df['km'] < 28000))
cond2 = ((df['km'] >= 28000) & (df['km'] < 50000))
cond3 = (df['km'] >= 50000)

**Let us use replace() function to fill missing values at "age" column with proper values.**

In [439]:
df.loc[cond0,'age'] = df.loc[cond0,'age'].replace('-', 0)
df.loc[cond1,'age'] = df.loc[cond1,'age'].replace('-', 1)
df.loc[cond2,'age'] = df.loc[cond2,'age'].replace('-', 2)
df.loc[cond3,'age'] = df.loc[cond3,'age'].replace('-', 3)

In [440]:
df.groupby('age').km.mean()

age
0.0    1647.363
1.0   18035.130
2.0   41748.577
3.0   77450.063
-           NaN
Name: km, dtype: float64

**After filling the "missing values", we see that the mean of "km" for each "age" group is very close to the old averages.**

In [441]:
df["age"].value_counts(dropna=False)

1.0    4528
3.0    3679
0.0    3597
2.0    3277
-       838
Name: age, dtype: int64

**However, there have still been some missing values represented by "-"**

In [442]:
df.groupby(['make_model',"body_type", 'age']).price.describe()

                                   count      mean       std       min  \
make_model     body_type     age
Audi A1        Compact       0.0 198.000 23277.434  3510.406 14900.000
                             1.0 268.000 18596.041  2659.910 13980.000
                             2.0 161.000 16602.807  2085.384 10999.000
                             3.0 234.000 14532.910  1908.909  9950.000
                             -   178.000 23996.264  3383.852 16220.000
               Coupe         2.0   1.000 15900.000       NaN 15900.000
                             3.0   1.000 13950.000       NaN 13950.000
               Other         0.0   8.000 23826.250  2057.439 21490.000
                             1.0   3.000 16796.667   178.979 16590.000
                             2.0   1.000 23490.000       NaN 23490.000
                             -     1.000 21850.000       NaN 21850.000
               Sedans        0.0 368.000 24158.087  3196.985 15990.000
                             1.0 465.000 18394.938  2588.159 13450.000
                             2.0 266.000 16605.395  2223.979 11600.000
                             3.0 389.000 14466.900  1890.278  8999.000
                             -    50.000 23336.560  3815.326 15980.000
               Station wagon 0.0   2.000 28944.500    77.075 28890.000
                             1.0  11.000 17410.909  2166.031 15750.000
                             2.0   3.000 17613.333  2953.817 14750.000
                             3.0   5.000 14358.000  1276.891 12950.000
               Van           0.0   1.000 29000.000       NaN 29000.000
Audi A2        Off-Road      1.0   1.000 28200.000       NaN 28200.000
Audi A3        Compact       0.0  17.000 29345.471  8767.065 15500.000
                             1.0  29.000 22030.931  4270.469 14500.000
                             2.0  39.000 20489.769  8208.445 13790.000
                             3.0  93.000 15303.796  2256.723 12900.000
                             -     4.000 25582.500  1185.109 24542.000
               Convertible   1.0   3.000 29664.333 23557.901 10893.000
                             2.0   4.000 28562.500  5301.159 20900.000
                             3.0   1.000 20000.000       NaN 20000.000
               Coupe         2.0   1.000 19000.000       NaN 19000.000
                             3.0   3.000 17326.667   583.124 16990.000
               Other         1.0   4.000 23422.500  3548.055 20200.000
                             2.0   4.000 18675.000  1351.851 17650.000
                             3.0   5.000 15970.000  2392.070 12550.000
                             -     3.000 25990.000  1322.876 24490.000
               Sedans        0.0 626.000 24909.898  2354.990 18820.000
                             1.0 709.000 22544.715  5224.410 14250.000
                             2.0 550.000 19980.358  3721.376 10550.000
                             3.0 647.000 16702.832  2900.228 10950.000
                             -    66.000 24395.242  2372.569 19750.000
               Station wagon 0.0  69.000 25219.000  5011.257 17990.000
                             1.0  32.000 21252.594  3201.415  5555.000
                             2.0  72.000 19010.875  1522.622 14590.000
                             3.0  67.000 15739.507  1883.567 11790.000
                             -    42.000 23558.667  1687.726 18980.000
Opel Astra     Compact       0.0  51.000 23056.118  7391.480 16500.000
                             1.0  39.000 14717.538  1266.385 11999.000
                             2.0  55.000 13091.491  1884.243  9999.000
                             3.0  30.000 12023.733  2767.419  8450.000
                             -    10.000 16636.600  1098.445 15816.000
               Coupe         0.0   1.000 29990.000       NaN 29990.000
                             3.0   1.000 14490.000       NaN 14490.000
               Off-Road      1.0   1.000 18590.000       NaN 18590.000
               Other         0.0   9.000 17175.000  1225.566 15490.000
                             1.0  35.000 14681.429   554.644 12900.000
                             2.0  11.000 12059.545  1462.304 10040.000
                             3.0  12.000 10652.417  2438.981  8490.000
               Sedans        0.0 260.000 20528.096  4601.490  6950.000
                             1.0 320.000 15682.544  1794.249  8860.000
                             2.0 249.000 12954.040  2080.899  7800.000
                             3.0 150.000 11899.480  2304.464  6500.000
                             -    74.000 19500.405  3467.240 13929.000
               Station wagon 0.0 237.000 22624.730  5168.016 15285.000
                             1.0 332.000 16882.630  1943.277   255.000
                             2.0 269.000 13093.089  2017.233  8480.000
                             3.0 325.000 11047.557  2526.506  6000.000
                             -    48.000 21232.875  4266.954 15445.000
Opel Corsa     Compact       0.0 476.000 13758.405  2637.068   120.000
                             1.0 353.000 11913.510  2098.742  7499.000
                             2.0 158.000  9683.411  1782.282  6250.000
                             3.0 213.000  8426.765  2065.760  4990.000
                             -    30.000 14188.367  3126.629  9245.000
               Coupe         0.0   3.000 10283.333  1286.792  8800.000
                             2.0   5.000  8718.000  1356.695  7500.000
                             3.0   5.000  7920.000  1478.851  6900.000
               Off-Road      2.0   3.000  8166.667   461.880  7900.000
               Other         0.0  13.000 10728.923  3386.983   331.000
                             1.0  49.000  9706.837  1414.526  8490.000
                             2.0  19.000  8667.895   202.281  8500.000
                             3.0   4.000  9054.750  1463.729  7900.000
                             -     2.000 16600.000   919.239 15950.000
               Sedans        0.0 176.000 12949.898  2584.623  8200.000
                             1.0 281.000 10814.836  1985.520    13.000
                             2.0 199.000  9000.975  1513.124  6200.000
                             3.0 203.000  7985.808  1449.380  4950.000
                             -    16.000 12474.688  2733.915  9990.000
               Transporter   0.0   3.000  9933.333   493.288  9600.000
                             2.0   1.000  7450.000       NaN  7450.000
                             3.0   3.000  5433.333   175.594  5250.000
               Van           3.0   2.000  7900.000     0.000  7900.000
Opel Insignia  Compact       0.0  16.000 35747.625  6580.219 21900.000
                             1.0   2.000 20400.000   707.107 19900.000
                             2.0   4.000 17545.000  3341.262 13490.000
                             3.0   4.000 12375.000  2373.640 10350.000
                             -     1.000 39490.000       NaN 39490.000
               Coupe         2.0   1.000 17094.000       NaN 17094.000
               Off-Road      0.0   2.000 30995.000  3528.463 28500.000
                             3.0   1.000 12750.000       NaN 12750.000
                             -     4.000 32854.750  1387.646 31505.000
               Other         0.0   7.000 28008.429  4775.491 24700.000
                             1.0   7.000 20850.714  2277.232 18480.000
                             2.0  31.000 15860.968  2564.308 10600.000
                             3.0   3.000 14063.333  1314.927 12900.000
               Sedans        0.0 138.000 33401.674  4882.201 22120.000
                             1.0 278.000 20368.583  2439.116 15990.000
                             2.0 245.000 16575.776  3254.280  9900.000
                             3.0 126.000 13411.048  2251.593  8600.000
                             -   113.000 27560.788  5192.396 19902.000
               Station wagon 0.0 287.000 33783.021  4561.027 19900.000
                             1.0 480.000 21973.621  1654.916 17500.000
                             2.0 305.000 17493.898  2614.542  8990.000
                             3.0 434.000 13673.684  2165.299  8290.000
                             -   105.000 30336.314  5340.690 21992.000
               Van           1.0   1.000 20980.000       NaN 20980.000
Renault Clio   Compact       0.0 158.000 11845.614  2823.449  9545.000
                             1.0 134.000 15835.754  4597.178  8990.000
                             2.0  86.000 12484.372  3428.348  6950.000
                             3.0  87.000  9549.011  2732.518  5800.000
                             -    19.000 11810.789  2079.485  9990.000
               Coupe         2.0   1.000 17990.000       NaN 17990.000
               Off-Road      0.0   1.000 17990.000       NaN 17990.000
                             3.0   1.000  7700.000       NaN  7700.000
               Other         0.0  18.000 10558.889   723.113  8690.000
                             1.0  20.000 14979.550  2051.507  9900.000
                             2.0   7.000 10170.000  2794.363  7970.000
                             3.0   6.000  9426.000  2834.963  7500.000
               Sedans        0.0 149.000 11976.403  3434.890  6950.000
                             1.0 308.000 15270.649  5487.220  8480.000
                             2.0 230.000 10121.900  2536.429  6990.000
                             3.0 209.000  9348.115  2769.832  5445.000
                             -    22.000 11390.273  2224.604  8750.000
               Station wagon 0.0  35.000 12717.371  3518.044  6900.000
                             1.0  98.000 11924.622  2977.329  7950.000
                             2.0  99.000 11288.848  2708.793  6000.000
                             3.0  97.000  9437.845  2481.119  5900.000
                             -     8.000 12870.500  2466.880 10890.000
               Transporter   0.0   3.000  9661.333   691.666  9262.000
                             1.0   6.000 10058.500   761.313  8990.000
                             2.0   9.000  8415.556   839.674  6900.000
                             3.0  11.000  7376.364   876.838  5900.000
               Van           1.0   1.000  9900.000       NaN  9900.000
                             2.0   1.000  9400.000       NaN  9400.000
Renault Duster Off-Road      0.0  16.000 13343.000  1625.593 10900.000
                             -    18.000 13129.889  1659.899 10850.000
Renault Espace Compact       0.0   3.000 38830.000  4855.070 33500.000
                             2.0   1.000 23990.000       NaN 23990.000
                             3.0   2.000 19900.000  2828.427 17900.000
               Coupe         0.0   1.000 34140.000       NaN 34140.000
                             1.0   1.000 26994.000       NaN 26994.000
               Off-Road      1.0   2.000 27850.000     0.000 27850.000
                             2.0   5.000 27100.000  4103.657 22500.000
                             3.0   1.000 14900.000       NaN 14900.000
               Other         0.0   1.000 42681.000       NaN 42681.000
                             1.0   2.000 34000.000     0.000 34000.000
                             2.0   2.000 24900.000  4242.641 21900.000
                             3.0   3.000 25463.333  7713.497 17500.000
               Sedans        0.0   1.000 48498.000       NaN 48498.000
                             1.0  13.000 29090.462  3321.812 25490.000
                             2.0   3.000 23863.333   109.697 23800.000
                             3.0   2.000 22449.500  4879.744 18999.000
                             -     2.000 43969.000  4137.989 41043.000
               Station wagon 0.0   9.000 43642.222  4066.795 37900.000
                             1.0  14.000 34301.429  3864.125 28990.000
                             2.0  13.000 27046.846  5245.900 19450.000
                             3.0  52.000 21626.827  2862.987 16900.000
                             -     3.000 45476.667  4746.634 42490.000
               Transporter   0.0   1.000 32700.000       NaN 32700.000
                             1.0   5.000 29297.800  1306.587 27990.000
                             2.0   9.000 23861.000  3464.582 19450.000
                             3.0  37.000 21124.297  3279.229 14999.000
               Van           0.0 218.000 40074.514  8154.729 24200.000
                             1.0 207.000 31947.841  4072.970 23099.000
                             2.0 134.000 26574.478  3427.863 14600.000
                             3.0 199.000 22132.623  3216.032 12614.000
                             -    19.000 39632.316  6866.139 28650.000

                                       25%       50%       75%       max
make_model     body_type     age
Audi A1        Compact       0.0 20503.500 22492.000 26798.500 31990.000
                             1.0 16445.000 16980.000 20950.000 23829.000
                             2.0 15450.000 15850.000 17700.000 22150.000
                             3.0 13407.500 13994.500 15480.000 18900.000
                             -   21515.000 22875.000 27380.000 29181.000
               Coupe         2.0 15900.000 15900.000 15900.000 15900.000
                             3.0 13950.000 13950.000 13950.000 13950.000
               Other         0.0 22490.000 22720.000 25900.000 26900.000
                             1.0 16745.000 16900.000 16900.000 16900.000
                             2.0 23490.000 23490.000 23490.000 23490.000
                             -   21850.000 21850.000 21850.000 21850.000
               Sedans        0.0 21797.500 23800.000 26890.000 37900.000
                             1.0 16321.000 16950.000 20350.000 33900.000
                             2.0 14955.000 15900.000 18000.000 22500.000
                             3.0 13000.000 13950.000 15784.000 19900.000
                             -   20982.500 22345.000 26855.000 29137.000
               Station wagon 0.0 28917.250 28944.500 28971.750 28999.000
                             1.0 15870.000 16480.000 18260.000 21450.000
                             2.0 16095.000 17440.000 19045.000 20650.000
                             3.0 13979.000 13999.000 14440.000 16422.000
               Van           0.0 29000.000 29000.000 29000.000 29000.000
Audi A2        Off-Road      1.0 28200.000 28200.000 28200.000 28200.000
Audi A3        Compact       0.0 22300.000 24900.000 37998.000 41495.000
                             1.0 19999.000 21900.000 22599.000 39959.000
                             2.0 17525.000 18945.000 20780.000 67600.000
                             3.0 13500.000 14900.000 16895.000 24950.000
                             -   25056.500 25250.000 25776.000 27288.000
               Convertible   1.0 16446.500 22000.000 39050.000 56100.000
                             2.0 27350.000 30200.000 31412.500 32950.000
                             3.0 20000.000 20000.000 20000.000 20000.000
               Coupe         2.0 19000.000 19000.000 19000.000 19000.000
                             3.0 16990.000 16990.000 17495.000 18000.000
               Other         1.0 21925.000 22500.000 23997.500 28490.000
                             2.0 17650.000 18275.000 19300.000 20500.000
                             3.0 15300.000 15500.000 18000.000 18500.000
                             -   25490.000 26490.000 26740.000 26990.000
               Sedans        0.0 23885.000 24900.000 26197.500 62900.000
                             1.0 20800.000 21500.000 22900.000 74600.000
                             2.0 18000.000 19400.000 20990.000 55000.000
                             3.0 15110.000 15980.000 17890.000 42500.000
                             -   22944.750 23947.500 26200.000 34738.000
               Station wagon 0.0 23490.000 24980.000 25884.000 63900.000
                             1.0 20650.000 21480.000 22900.000 23800.000
                             2.0 18374.500 18990.000 19621.250 21990.000
                             3.0 14195.000 15900.000 17250.000 18780.000
                             -   22359.750 23590.000 24937.500 26990.000
Opel Astra     Compact       0.0 17490.000 18300.000 29675.000 39433.000
                             1.0 13990.000 14900.000 14990.000 18900.000
                             2.0 11955.000 12636.000 12955.000 19950.000
                             3.0 10111.250 10947.500 14854.250 17750.000
                             -   15890.000 16159.000 16864.500 18599.000
               Coupe         0.0 29990.000 29990.000 29990.000 29990.000
                             3.0 14490.000 14490.000 14490.000 14490.000
               Off-Road      1.0 18590.000 18590.000 18590.000 18590.000
               Other         0.0 16390.000 17390.000 17490.000 18990.000
                             1.0 14495.000 14890.000 14990.000 15300.000
                             2.0 11250.000 11950.000 12700.000 15400.000
                             3.0  9367.250  9490.000 10900.000 14990.000
               Sedans        0.0 17585.000 18665.000 23940.000 32950.000
                             1.0 14537.250 15275.000 17205.000 18990.000
                             2.0 11320.000 12500.000 14900.000 17890.000
                             3.0 10400.000 10950.000 13967.500 15999.000
                             -   16977.000 18354.000 22375.000 28900.000
               Station wagon 0.0 18096.000 19990.000 26950.000 34580.000
                             1.0 15200.000 17355.000 18465.750 18990.000
                             2.0 11850.000 12660.000 14650.000 17890.000
                             3.0  9479.000 10500.000 12000.000 15999.000
                             -   18040.500 20240.000 23777.500 34900.000
Opel Corsa     Compact       0.0 10979.000 14650.000 15942.500 18622.000
                             1.0  9800.000 12750.000 13890.000 15790.000
                             2.0  8500.000  8950.000 11261.250 13990.000
                             3.0  7290.000  7750.000  7950.000 16950.000
                             -   10785.000 15980.000 17035.000 17490.000
               Coupe         0.0  9875.000 10950.000 11025.000 11100.000
                             2.0  7900.000  8500.000  8700.000 10990.000
                             3.0  7200.000  7200.000  7800.000 10500.000
               Off-Road      2.0  7900.000  7900.000  8300.000  8700.000
               Other         0.0 10990.000 10990.000 10995.000 14990.000
                             1.0  8900.000  9500.000  9690.000 13990.000
                             2.0  8500.000  8500.000  8900.000  8900.000
                             3.0  7900.000  8685.000  9839.750 10949.000
                             -   16275.000 16600.000 16925.000 17250.000
               Sedans        0.0 10990.000 11390.000 15427.500 18490.000
                             1.0  9499.000  9900.000 12500.000 15690.000
                             2.0  8299.000  8600.000  8950.000 13900.000
                             3.0  7400.000  7650.000  7900.000 13500.000
                             -   10867.500 11120.000 14883.000 17990.000
               Transporter   0.0  9650.000  9700.000 10100.000 10500.000
                             2.0  7450.000  7450.000  7450.000  7450.000
                             3.0  5350.000  5450.000  5525.000  5600.000
               Van           3.0  7900.000  7900.000  7900.000  7900.000
Opel Insignia  Compact       0.0 34495.000 36345.000 38991.250 49884.000
                             1.0 20150.000 20400.000 20650.000 20900.000
                             2.0 15740.000 17695.000 19500.000 21300.000
                             3.0 10350.000 12125.000 14150.000 14900.000
                             -   39490.000 39490.000 39490.000 39490.000
               Coupe         2.0 17094.000 17094.000 17094.000 17094.000
               Off-Road      0.0 29747.500 30995.000 32242.500 33490.000
                             3.0 12750.000 12750.000 12750.000 12750.000

In [ ]:
df['age'].replace('-', 0, inplace=True)

In [ ]:
df.groupby('age').km.mean()

In [ ]:
df["age"].value_counts(dropna=False)

## km

In [ ]:
first_looking("km")

In [ ]:
df.groupby("age").km.mean()

In [ ]:
df[df["km"].isna()][["age", "km"]]

**Let us use transform() function to fill missing values at "km" column with "mean".**

In [ ]:
df.groupby("age").km.transform("mean")

In [ ]:
df["km"].fillna(df.groupby("age").km.transform("mean"), inplace=True)

In [ ]:
df[df["km"].isna()][["age", "km"]]

**Using transform() function, we have filled missing values at "km" column with the "mean" of the each "age" group.**

In [ ]:
df.km.value_counts(dropna=False)

## body type

In [ ]:
first_looking("body_type")

In [ ]:
df.body_type.replace("Other", np.nan, inplace=True)

**We do NOT have any information about "other". So we have assigned them to "NaN" to use "fillna" function.**

In [ ]:
df['body_type'].value_counts(dropna=False)

In [ ]:
df["body_type"].mode()

In [ ]:
df["body_type"].mode()[0]

In [ ]:
# Step-1

# df["body_type"].fillna(df["body_type"].mode()[0])

# Step-2

# df.loc[df["make_model"]=="Audi A1", "body_type"].fillna(df[df["make_model"]=="Audi A1"]["body_type"].mode()[0])
# df.loc[df["make_model"]=="Opel Astra", "body_type"].fillna(df[df["make_model"]=="Opel Astra"]["body_type"].mode()[0])
# ...

In [ ]:
# Step-3

for group in df["make_model"].unique():
    cond = df["make_model"]==group
    mode = df[cond]["body_type"].mode().to_list()  # list(df[cond]["body_type"].mode())
    if mode != []:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df[cond]["body_type"].mode()[0])
    else:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df["body_type"].mode()[0])

In [ ]:
df['body_type'].value_counts(dropna=False)

In [ ]:
def fill_most_freq(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill_most_freq(df, "make_model", "body_type")

# Method-2
# if we want to generalize this script, it may not work in every case because of the indexing of mode result
# Sometimes it may give different results comparing with solution of "for loop"

df['body_type'].fillna(df.groupby("make_model")["body_type"].transform(lambda x : x.mode()[0]), inplace=True)
df['body_type'].fillna(df["body_type"].mode()[0], inplace=True)

df['body_type'].value_counts(dropna=False)

Sedans           8005
Station wagon    3678
Compact          3242
Van               817
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

## Previous_Owners

In [ ]:
first_looking("Previous_Owners")

In [ ]:
df["Previous_Owners"].fillna("-", inplace = True)

In [ ]:
df["Previous_Owners"].value_counts(dropna=False)

In [ ]:
df.groupby(['make_model', 'body_type', 'age', 'Previous_Owners']).price.describe()

In [ ]:
df.groupby(['make_model', 'body_type', 'age', 'Previous_Owners']).km.describe()

**It is not appear to be a significant relationship between Previous_Owners and price/km columns except Renault Duster. It seems that Renault Duster's Previous_Owners values should be "0".**

In [ ]:
cond = (df["make_model"]=="Renault Duster") & (df["Previous_Owners"] == "-")
df.loc[cond, "Previous_Owners"] = 0.0

In [ ]:
df["Previous_Owners"].value_counts(dropna=False)

In [ ]:
df["Previous_Owners"].replace("-", np.nan, inplace=True)

In [ ]:
# Step-1
# df.["Previous_Owners"].fillna(method="ffill")

# Step-2
# df.loc[df["age"]==0, "Previous_Owners"].fillna(method="ffill")
# df.loc[df["age"]==1, "Previous_Owners"].fillna(method="ffill")
# ...

In [ ]:
# Step-3

for age in df["age"].unique():
    cond = df["age"] == age
    df.loc[cond, "Previous_Owners"] = df.loc[cond, "Previous_Owners"].fillna(method="ffill").fillna(method="bfill")

df["Previous_Owners"] = df["Previous_Owners"].fillna(method="ffill").fillna(method="bfill")  # If there has still been "NaN" values this code line will deal with it

In [ ]:
df["Previous_Owners"].value_counts(dropna=False)

In [ ]:
def fill_prop(df, group_col, col_name):
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    
    for group in df[group_col].unique():
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill_prop(df, "age", "Previous_Owners")

## Warranty

In [ ]:
first_looking("Warranty")

In [ ]:
df["Warranty"].fillna("-", inplace = True)

In [ ]:
df.groupby(['make_model', 'age', 'Warranty']).price.describe()

In [ ]:
df.groupby(["make_model", "Warranty"]).price.describe().sort_values(by = ["make_model", "mean"], ascending=False)

**There are** **``too many nan values``** **and when we analyzed these nan values according to the price, age and make_model columns, we decided that this column does not have healthy data.**

In [ ]:
df.drop("Warranty", axis=1, inplace=True)

In [ ]:
df.shape

## vat

In [ ]:
first_looking("vat")

In [ ]:
df["vat"].fillna("-", inplace = True)

In [ ]:
df.groupby(["make_model", "body_type", "vat"]).price.describe()

**It is not appear to be a significant relationship between vat and price column. We can drop this column or fill missing values with ffill/bfill method to maintain the current proportionality.**

**I prefer to drop this column**

**Be informed that you can create different approaches to deal with missing values at** **``"vat"``** **column.**

In [ ]:
df.drop("vat", axis=1, inplace=True)

In [ ]:
df.shape

## Paint Type

**According to the domain knowledge we know that; The colors do not affect the prices of cars directly, but their "paint types", such as whether they are metallic or not, can affect the price.**

In [ ]:
first_looking("Paint_Type")

In [ ]:
df["Paint_Type"].fillna("-", inplace = True)

In [ ]:
df.groupby(["make_model", "body_type", "age", 'Paint_Type']).price.describe()

In [ ]:
df.groupby(["make_model", "body_type", 'Paint_Type']).price.describe().sort_values(by = ["make_model", "body_type", "mean"], ascending = False)

**It is not appear to be a significant relationship between Paint_Type and price column. We can drop this column or fill missing values with ffill/bfill method to maintain the current proportionality.**

**I prefer to fill missing values**

In [ ]:
df["Paint_Type"].replace("-", np.nan, inplace=True)

In [ ]:
# Step-1

# df.["Paint_Type"].fillna(method="ffill")

# Step-2
# df.loc[df["make_model"]=="Audi A1", "Paint_Type"].fillna(method="ffill")

# Step-3
# for group in list(df["make_model"].unique()):
#     cond = df["make_model"]==group
#     df.loc[cond, "Paint_Type"] = df.loc[cond, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")
# df["Paint_Type"] = df["Paint_Type"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Step-4

for group1 in df["make_model"].unique():
    for group2 in list(df["body_type"].unique()):
        cond2 = (df["make_model"]==group1) & (df["body_type"]==group2)
        df.loc[cond2, "Paint_Type"] = df.loc[cond2, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")
                
for group1 in list(df["make_model"].unique()):
    cond1 = df["make_model"]==group1
    df.loc[cond1, "Paint_Type"] = df.loc[cond1, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")            
           
df["Paint_Type"] = df["Paint_Type"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

In [ ]:
def fill_ffill(df, group_col1, group_col2, col_name):
    
    for group1 in list(df[group_col1].unique()):
        for group2 in list(df[group_col2].unique()):
            cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
            df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
    for group1 in list(df[group_col1].unique()):
        cond1 = df[group_col1]==group1
        df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill_ffill(df, "make_model", "body_type", "Paint_Type")

## Type

In [ ]:
first_looking("Type")

In [ ]:
df.Type.fillna("-", inplace=True)

In [ ]:
df.groupby(["Type", "make_model", "age"]).km.describe()

In [ ]:
df.groupby(["make_model", "age", "Type"]).price.describe()

**There are just two missing values. We can easly detect that one of them should be new and the other used according to theirs km values**

**Additionally, We can reduce the number of categorical values by combining them suitably.**

In [ ]:
cond1 = (df['make_model'] == "Audi A3") & (df["age"] == 0)
cond2 = (df['make_model'] == "Audi A3") & (df["age"] == 3)

In [ ]:
df.loc[cond1,'Type'] = df.loc[cond1,'Type'].replace('-', 'New')
df.loc[cond2,'Type'] = df.loc[cond2,'Type'].replace('-', 'Used')

In [ ]:
df['Type'].value_counts(dropna=False)

## Inspection new

In [ ]:
first_looking("Inspection_new")

In [ ]:
df["Inspection_new"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "age", "Inspection_new"]).price.describe()

**There are too many missing values. We can drop this column or fill missing value with "No".**

**Since I have accepted missing values as vehicles without inspection, I prefer to fill missing values.**

In [ ]:
df["Inspection_new"].replace("-", "No", inplace=True)

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

In [ ]:
df["Inspection_new"].replace(["Yes", "No"], [1, 0], inplace=True) # just replace mentioned values

#df["Inspection_new"].map({"Yes":1, "No":0}, inplace=True) # if there is value apart from mention in map function,
                                                           # that value is replaced with Nan value.

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

## Upholstery_type

In [ ]:
first_looking("Upholstery_type")

In [ ]:
df.groupby(["make_model", "body_type", "age", "Upholstery_type"]).price.describe()

**I have decided to combine upholstery_types to reduce the number of categories.**

In [ ]:
df["Upholstery_type"].replace(["Velour", "alcantara", "Part leather", "Full leather"], 
                              ["Cloth", "Part/Full Leather", "Part/Full Leather", "Part/Full Leather"], inplace=True)

In [ ]:
df["Upholstery_type"].value_counts(dropna=False)

In [ ]:
df["Upholstery_type"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "age", "Upholstery_type"]).price.describe()

**I haven't detected significant relationship to fill missing values.**

**I prefer to fill missing values with ffill/bfill method to maintain the current proportionality.**

In [ ]:
df["Upholstery_type"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "Upholstery_type", "ffill")

## Upholstery_color

In [ ]:
first_looking("Upholstery_color")

In [ ]:
df.drop("Upholstery_color", axis=1, inplace=True)

In [ ]:
df.shape

## Nr. of Doors

In [ ]:
first_looking("Nr_of_Doors")

**The number of doors of cars changes by theirs make_models and body_types. So I have decided to fill missing values with mode value of related group.**

In [ ]:
# Step-1

# df["Nr_of_Doors"].fillna(df["Nr_of_Doors"].mode()[0])

# Step-2

# df.loc[df["make_model"]=="Audi A1", "Nr_of_Doors"].fillna(df[df["make_model"]=="Audi A1"]["Nr_of_Doors"].mode()[0])
# df.loc[df["make_model"]=="Opel Astra", "Nr_of_Doors"].fillna(df[df["make_model"]=="Opel Astra"]["Nr_of_Doors"].mode()[0])
# ...

# Step-3

# for group in df["make_model"].unique():
#     cond = df["make_model"]==group
#     mode = list(df[cond]["body_type"].mode())
#     if mode != []:
#         df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df[cond]["body_type"].mode()[0])
#     else:
#         df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df["body_type"].mode()[0])

In [ ]:
# Step-4

for group1 in list(df["make_model"].unique()):
    for group2 in list(df["body_type"].unique()):
        cond1 = df["make_model"]==group1
        cond2 = (df["make_model"]==group1) & (df["body_type"]==group2)
        mode1 = list(df[cond1]["Nr_of_Doors"].mode())
        mode2 = list(df[cond2]["Nr_of_Doors"].mode())
        if mode2 != []:
            df.loc[cond2, "Nr_of_Doors"] = df.loc[cond2, "Nr_of_Doors"].fillna(df[cond2]["Nr_of_Doors"].mode()[0])
        elif mode1 != []:
            df.loc[cond2, "Nr_of_Doors"] = df.loc[cond2, "Nr_of_Doors"].fillna(df[cond1]["Nr_of_Doors"].mode()[0])
        else:
            df.loc[cond2, "Nr_of_Doors"] = df.loc[cond2, "Nr_of_Doors"].fillna(df["Nr_of_Doors"].mode()[0])

In [ ]:
df["Nr_of_Doors"].value_counts(dropna=False)

In [ ]:
def fill_mode(df, group_col1, group_col2, col_name):
    
    for group1 in list(df[group_col1].unique()):
        for group2 in list(df[group_col2].unique()):
            cond1 = df[group_col1]==group1
            cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
            mode1 = list(df[cond1][col_name].mode())
            mode2 = list(df[cond2][col_name].mode())
            if mode2 != []:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
            elif mode1 != []:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
            else:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
    
    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill_mode(df, "make_model", "body_type", "Nr_of_Doors")

# Method-2
# if we want to generalize this script, it may not work in every case because of the indexing of mode result
# Sometimes it may give different results comparing with solution of "for loop"

df['Nr_of_Doors'].fillna(df.groupby(["make_model", "body_type"])["Nr_of_Doors"].transform(lambda x : x.mode()), inplace = True)
df['Nr_of_Doors'].fillna(df.groupby("make_model")["Nr_of_Doors"].transform(lambda x : x.mode()[0]), inplace = True)
df['Nr_of_Doors'].fillna(df["Nr_of_Doors"].mode()[0], inplace = True)

df["Nr_of_Doors"].value_counts(dropna=False)

5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: Nr_of_Doors, dtype: int64

## Nr. of Seats

In [ ]:
first_looking("Nr_of_Seats")

**The number of seats of cars changes by theirs make_models and body_types. So I have decided to fill missing values with mode value of related group.**

In [ ]:
fill(df, "make_model", "body_type", "Nr_of_Seats", "mode")

## Cylinders

In [ ]:
first_looking("Cylinders")

In [ ]:
df["Cylinders"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "age", "Cylinders"]).price.describe()

**There are other features having less missing values and giving similar insight such as "hp, weight, displacement". So I have decided to drop this column.**

In [ ]:
df.drop("Cylinders", axis=1, inplace=True)

In [ ]:
df.shape

## Drive chain

In [ ]:
first_looking("Drive_chain")

In [ ]:
df["Drive_chain"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "Drive_chain"]).price.describe()

**The type of drive_chain of cars changes by theirs make_models and body_types most of the time. So I have decided to fill missing values with mode value of related group.**

In [ ]:
cond = (df['make_model'] == "Renault Duster") & (df["body_type"] == "Off-Road")

In [ ]:
df.loc[cond, 'Drive_chain'] = df.loc[cond, 'Drive_chain'].replace('-', '4WD')

In [ ]:
df["Drive_chain"].value_counts(dropna=False)

In [ ]:
df["Drive_chain"] = df["Drive_chain"].replace('-', np.nan)

In [ ]:
df["Drive_chain"].value_counts(dropna=False)

In [ ]:
fill(df, "make_model", "body_type", "Drive_chain", "mode")

## Emission Class

In [ ]:
first_looking("Emission_Class")

In [ ]:
df["Emission_Class"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "age", "Fuel", "Emission_Class"]).price.describe()

**The emission class of cars are related theirs model years/ages. So I have decided to drop this column.**

In [ ]:
df.drop("Emission_Class", axis=1, inplace=True)

In [ ]:
df.shape

## Gears

In [ ]:
first_looking("Gears")

In [ ]:
df["Gears"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "Gearing_Type", "Gears"]).price.describe()

**The number of gears of cars changes by theirs make_models, body_types and gear_types most of the time. So I have decided to fill missing values with mode value of related group.**

In [ ]:
df["Gears"].replace("-", np.nan, inplace=True)

In [ ]:
for group1 in df["make_model"].unique():
    for group2 in df["body_type"].unique():
        for group3 in df["Gearing_Type"].unique():
            cond1 = df["make_model"]==group1
            cond2 = (df["make_model"]==group1) & (df["body_type"]==group2)
            cond3 = (df["make_model"]==group1) & (df["body_type"]==group2) & (df["Gearing_Type"]==group3)
            mode1 = list(df[cond1]["Gears"].mode())
            mode2 = list(df[cond2]["Gears"].mode())
            mode3 = list(df[cond3]["Gears"].mode())
            if mode3 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond3]["Gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond2]["Gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond1]["Gears"].mode()[0])
            else:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df["Gears"].mode()[0])

In [ ]:
df["Gears"].value_counts(dropna=False)

# Method-2
# if we want to generalize this script, it may not work in every case because of the indexing of mode result
# Sometimes it may give different results comparing with solution of "for loop"

df['Gears'].fillna(df.groupby(["make_model", "body_type", "Gearing_Type"])["Gears"].transform(lambda x : x.mode()), inplace=True)
df['Gears'].fillna(df.groupby(["make_model", "body_type"])["Gears"].transform(lambda x : x.mode()), inplace=True)
df['Gears'].fillna(df.groupby("make_model")["Gears"].transform(lambda x : x.mode()), inplace=True)
df['Gears'].fillna(df["Gears"].mode()[0], inplace=True)

df["Gears"].value_counts(dropna=False)

6.000    10547
5.000     3239
7.000     1909
8.000      224
Name: Gears, dtype: int64

## hp_kW

In [ ]:
first_looking("hp_kW")

In [ ]:
df["hp_kW"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","hp_kW"]).price.describe()

**The hp of cars changes by theirs make_models and body_types most of the time. So I have decided to fill missing values with mode value of related group.**

In [ ]:
df["hp_kW"].replace(["-"], np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "hp_kW", "mode")

## Displacement_cc

In [ ]:
first_looking("Displacement_cc")

In [ ]:
df["Displacement_cc"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","Displacement_cc"]).price.describe()

**The displacement of cars changes by theirs make_models and body_types most of the time. So I have decided to fill missing values with mode value of related group.**

In [ ]:
df["Displacement_cc"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "Displacement_cc", "mode")

## Weight_kg

In [ ]:
first_looking("Weight_kg")

In [ ]:
df["Weight_kg"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","Weight_kg"]).price.describe()

**The weights of cars changes by theirs make_models and body_types most of the time. So I have decided to fill missing values with mode value of related group.**

In [ ]:
df["Weight_kg"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "Weight_kg", "mode")

## CO2 Emission

In [ ]:
first_looking("CO2_Emission")

In [ ]:
df["CO2_Emission"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "Fuel", "CO2_Emission"]).price.describe()

**Let's see CO2_Emission for Electric cars.**

In [ ]:
df.groupby(["Fuel", "make_model", "body_type", "CO2_Emission"]).price.describe().loc["Electric"]

**I have decided to fill missing values in two stages.**

**1.Mode value of Electirc cars for Electric cars having missing value.**

**2.Median values of related make_model, body_type and Fuel group for the other cars.**

In [ ]:
df["CO2_Emission"].replace("-", np.nan, inplace=True)

In [ ]:
df.loc[df.Fuel == "Electric", "CO2_Emission"]

In [ ]:
df.loc[df.Fuel == "Electric", "CO2_Emission"] = df.loc[df.Fuel == "Electric", "CO2_Emission"].fillna(df.loc[df.Fuel == "Electric", "CO2_Emission"].mode()[0])
df.loc[df.Fuel == "Electric", "CO2_Emission"]

In [ ]:
# Step-1

# df['CO2_Emission'].fillna(df["CO2_Emission"].median(), inplace = True)

# Step-2

# df['CO2_Emission'].fillna(df.groupby("make_model")["CO2_Emission"].transform("median"), inplace = True)

# Step-3

# df['CO2_Emission'].fillna(df.groupby(["make_model", "body_type"])["CO2_Emission"].transform("median"), inplace = True)

# Step-3

# df['CO2_Emission'].fillna(df.groupby(["make_model", "body_type", "Fuel"])["CO2_Emission"].transform("median"), inplace = True)

In [ ]:
# Step-4

df['CO2_Emission'].fillna(df.groupby(["make_model", "body_type", "Fuel"])["CO2_Emission"].transform("median"), inplace = True)
df['CO2_Emission'].fillna(df.groupby(["make_model", "body_type"])["CO2_Emission"].transform("median"), inplace = True)
df['CO2_Emission'].fillna(df.groupby("make_model")["CO2_Emission"].transform("median"), inplace = True)
df['CO2_Emission'].fillna(df["CO2_Emission"].median(), inplace = True)

In [ ]:
df["CO2_Emission"].value_counts(dropna=False)

In [ ]:
def fill_median(df, group_col1, group_col2, group_col3, col_name):
    
    df[col_name].fillna(df.groupby([group_col1, group_col2, group_col3])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df[col_name].median(), inplace = True)

    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill_median(df, "make_model", "body_type", "Fuel", "CO2_Emission")

## Comfort_Convenience

In [ ]:
first_looking("Comfort_Convenience")

In [ ]:
fill(df, "make_model", "body_type", "Comfort_Convenience", "mode")

In [ ]:
# Car Comfort & Conveniance Packages

premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
premium_plus = ["Keyless central door lock", "Heads-up", "Massage seats", "heating", "Automatic climate control", "Heated"]

comfort_package = df['Comfort_Convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
comfort_package.value_counts()

In [ ]:
# Car Comfort & Conveniance Packages

# premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
# premium_plus = ["Keyless central door lock", "Heads-up", "Massage seats", "heating", "roof", "Heated"]

df['Comfort_Convenience_Package'] = df['Comfort_Convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
df.drop("Comfort_Convenience", axis=1, inplace=True)
df

## Entertainment_Media

In [ ]:
first_looking("Entertainment_Media")

In [ ]:
fill(df, "make_model", "body_type", "Entertainment_Media", "mode")

In [ ]:
# Car Entertainment & Media Packages

media_plus = ["Digital radio", "Hands-free", "Television"]

entertainment_media_package = df['Entertainment_Media'].apply(lambda sentence: "Plus" if any(word in sentence for word in media_plus) else "Standard")
entertainment_media_package.value_counts()

In [ ]:
# Car Entertainment & Media Packages

media_plus = ["Digital radio", "Hands-free", "Television"]

df['Entertainment_Media_Package'] = df['Entertainment_Media'].apply(lambda sentence: "Plus" if any(word in sentence for word in media_plus) else "Standard")
df.drop("Entertainment_Media", axis=1, inplace=True)
df

## Extras

In [ ]:
first_looking("Extras")

In [ ]:
fill(df, "make_model", "body_type", "Extras", "mode")

## Safety_Security

In [ ]:
first_looking("Safety_Security")

In [ ]:
fill(df, "make_model", "body_type", "Safety_Security", "mode")

In [ ]:
# Car Safety & Security Packages

premium = ["Tire pressure", "Traction control", "Daytime running lights", "LED Headlight", "Tire pressure"]
premium_plus = ["Emergency brake assistant", "Electronic stability control"]

safety_security_package = df['Safety_Security'].apply(lambda sentence: "Safety Premium Package" if any(word in sentence for word in premium) else ("Safety Premium Plus Package" if any(word in sentence for word in premium_plus) else "Safety Standard Package"))
safety_security_package.value_counts()

In [ ]:
# Car Safety & Security Packages

premium = ["Tire pressure", "Traction control", "Daytime running lights", "LED Headlight", "Tire pressure"]
premium_plus = ["Emergency brake assistant", "Electronic stability control"]

df['Safety_Security_Package'] = df['Safety_Security'].apply(lambda sentence: "Safety Premium Package" if any(word in sentence for word in premium) else ("Safety Premium Plus Package" if any(word in sentence for word in premium_plus) else "Safety Standard Package"))
df.drop("Safety_Security", axis=1, inplace=True)
df

## cons_comb

In [ ]:
first_looking("cons_comb")

In [ ]:
cons_comb_2 = (df["cons_country"] + df["cons_city"])/2
cons_comb_2.value_counts(dropna=False)

In [ ]:
df["cons_comb"] = df["cons_comb"].fillna(cons_comb_2)

In [ ]:
df["cons_comb"].value_counts(dropna=False)

In [ ]:
df["cons_comb"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "Fuel", "cons_comb"]).price.describe()

**I have decided to fill missing values in two stages.**

**1.Mode value of Electirc cars for Electric cars having missing value.**

**2.Median values of related make_model, body_type and Fuel group for the other cars.**

In [ ]:
df.groupby(["Fuel", "make_model", "body_type", "cons_comb"]).price.describe().loc["Electric"]

**Before filling missing values, let's convert outliers detected to missing value.**

In [ ]:
df["cons_comb"].replace([0.0, 1.0, 1.2, 10, 11, 13.8, 32.0, 33.0, 38.0, 40.0, 43.0, 46.0, 50.0, 51.0, 54.0, 55.0, "-"], np.nan, inplace=True)

In [ ]:
df.loc[df.Fuel == "Electric", "cons_comb"]

In [ ]:
df.loc[df.Fuel == "Electric", "cons_comb"] = df.loc[df.Fuel == "Electric", "cons_comb"].fillna(df.loc[df.Fuel == "Electric", "cons_comb"].mode()[0])
df.loc[df.Fuel == "Electric", "cons_comb"]

In [ ]:
df["cons_comb"].value_counts(dropna=False)

In [ ]:
fill_median(df, "make_model", "body_type", "Fuel", "cons_comb")

## cons_country

In [ ]:
df.drop("cons_country", axis=1, inplace=True)

In [ ]:
df.shape

## cons_city

In [ ]:
df.drop("cons_city", axis=1, inplace=True)

In [ ]:
df.shape

## End of this phase

In [ ]:
df.head().T

In [ ]:
df.shape

In [ ]:
df.isnull().sum()*100 / df.shape[0]

In [ ]:
df.to_csv("filled_scout.csv", index=False)

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of Handling with Missing Values (Part - 02)</p>